.sidebarContainer {
    background-color: beige;
    width: 19vw;
    height: 93vh;
    padding: 20px 20px;
    /* display: flex;
    justify-content: space-between;
    flex-direction: column; */
}
.userDiv {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.userImage {
    display: flex;
    justify-content: center;
    align-items: center;
}
.userImage img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.username {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
   
}
.username span {
    color: blue;
    font-size: 24px;
    font-weight: 500;
}
.sideContentParent {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    padding: 20px 20px;
    gap: 20px;
}
.sideContentParent a {
    color: red;
    font-size: 24px;
    text-decoration: none;
}
.active{
    background: rgb(230, 213, 213);
    width: 100%;
    border-radius: 5px;
    padding: 2px 10px;

}
.sideContents {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
.sideContents:hover {
    background: rgb(37, 137, 252);
    width: 100%;
    border-radius: 5px;
    padding: 2px 10px;
    transition: all 0.3s linear;
    background: rgba(37,137, 250, 0.25);

}
.logout {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn {
    background-color: yellowgreen;
    background-color: red;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}



